@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&amp;display=swap");
@import "sidebar.css";
@import "progress.css";
@import "dropdownmenu.css";
.d-none {
    display: none;
}

body {
    background: #f9f8f8;
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
    font-family: "Poppins", sans-serif !important;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

p {
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif !important;
}
a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.swal2-styled:focus {
    box-shadow: none !important;
}

/* ========================== custome css */

/* ------sidebar */

.side-bar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-bar-item {
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.submenu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-top: 15px;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.submenu a {
	font-size: 15px !important;
	color: inherit !important;
}
.show {
    display: block;
    opacity: 1;
}

.side-bar-item a i {
    margin-right: 8px;
}
.sub_menu_li {
    transition: all 0.3s;
    margin-bottom: 4px;
}

.sub_menu_li:hover {
    color: #000;
    font-weight: 500;
}
.side-bar-item a {
	font-size: 20px;
	color: #9b1eb7;
}

/* ==================== custome css ===============  */

.main_body{
    padding: 60px 0px;
}




.card {
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}


.card table td img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.modal form img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
